* {
    background-color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}



.input1 {
    background-color: rgb(218, 230, 230);
    width: 100px;
    height: 25px;
}

.op{
    margin-top: 25px;
    margin-bottom: 25px;
}

.button{
    background-color: cornflowerblue;
    height: 25px;
    width: 50px;

}
.button1{
    background-color: cornflowerblue;
    height: 35px;
    width: 50px;

}